Repository steeltroops-ai/blackhole-simulation: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, rust-check, rust-clippy, prettier

frontend-lint:
  run: bun run lint

rust-check:
  run: cargo check

rust-clippy:
  run: cargo clippy

prettier:
  run: bunx prettier --check {staged_files}

ci: fix wasm build path in github actions
  .github/workflows/production.yml
Due: none

Update license badge to MIT in README.md
  README.md
Due: prettier

chore: update wasm-pack to v0.13.1
  bun.lock
  package.json
Due: none

chore: suppress host cpu warnings in wasm builds
  physics-engine/.cargo/config.toml
Due: none

feat(physics): implement exact Kerr geodesics and analytical shadow bridge
  physics-engine/gravitas-wasm/src/lib.rs
  src/rendering/webgl/renderer.ts
  src/shaders/blackhole/chunks/common.ts
  src/shaders/blackhole/chunks/metric.ts
Due: frontend-lint, rust-check, rust-clippy, prettier

feat(shaders): enhance accretion disk with relativistic beaming and stable intersection
  src/shaders/blackhole/chunks/disk.ts
  src/shaders/blackhole/fragment.glsl.ts
Due: frontend-lint, prettier

docs(wasm): update physics engine documentation
  public/wasm/README.md
Due: prettier

fix(physics): resolve Kerr shadow analytical artifacts
  bun.lock
  package.json
  physics-engine/gravitas-core/src/geodesic/hamiltonian.rs
  physics-engine/gravitas-core/src/geodesic/integrator.rs
  physics-engine/gravitas-core/src/geodesic/mod.rs
  physics-engine/gravitas-core/src/invariants/audit.rs
  physics-engine/gravitas-core/src/invariants/mod.rs
  physics-engine/gravitas-core/src/invariants/renormalization.rs
  physics-engine/gravitas-core/src/metric/kerr.rs
  physics-engine/gravitas-core/src/metric/minkowski.rs
  physics-engine/gravitas-core/src/metric/mod.rs
  physics-engine/gravitas-core/src/metric/schwarzschild.rs
  physics-engine/gravitas-core/src/physics/disk.rs
  physics-engine/gravitas-core/src/physics/redshift.rs
  physics-engine/gravitas-core/src/physics/shadow.rs
  physics-engine/gravitas-core/src/quantum/hawking.rs
  physics-engine/gravitas-core/src/spacetime/frame_drag.rs
  physics-engine/gravitas-core/src/spacetime/mod.rs
  physics-engine/gravitas-core/src/tensor/christoffel.rs
  physics-engine/gravitas-core/src/tensor/metric_tensor.rs
  physics-engine/gravitas-core/src/tensor/mod.rs
  physics-engine/gravitas-wasm/src/lib.rs
  src/engine/physics-bridge.ts
  src/rendering/webgl/renderer.ts
  src/shaders/blackhole/chunks/common.ts
  src/shaders/blackhole/chunks/metric.ts
  src/shaders/blackhole/fragment.glsl.ts
  src/utils/cpu-optimizations.ts
Due: frontend-lint, rust-check, rust-clippy, prettier

feat(physics): upgrade accretion disk to exact Kerr relativistic kinematics
  src/shaders/blackhole/chunks/disk.ts
  src/shaders/blackhole/fragment.glsl.ts
Due: frontend-lint, prettier

chore(seo): escape all remaining JSX quotes and deploy finalized icon structure
  public/apple-touch-icon.jpg
  public/brand-logo.png
  public/favicon.ico
  public/test.css
  public/textures/milkyway.jpg
  public/textures/milkyway_2020_4k.jpg
  public/textures/starmap.jpg
  scripts/convert_exr.py
  src/app/blackhole.jpg
  src/app/blackhole.webp
  src/app/layout.tsx
  src/app/manifest.ts
  src/app/opengraph-image.webp
  src/app/page.tsx
  src/app/twitter-image.webp
  src/components/ui/IdentityHUD.tsx
Due: frontend-lint, prettier

docs: synchronize architectural and physics engineering specifications
  README.md
  docs/ARCHITECTURE.md
  docs/PERFORMANCE.md
  docs/PHYSICS.md
  physics-engine/gravitas-core/README.md
  src/components/ui/SimulationInfo.tsx
  src/rendering/webgl/renderer.ts
  src/shaders/blackhole/chunks/background.ts
  src/shaders/blackhole/fragment.glsl.ts
  src/shaders/manager.ts
  src/shaders/postprocess/reprojection.glsl.ts
Due: frontend-lint, prettier

feat(seo): replace fabricated structured data with verifiable schemas
  .gitignore
  package.json
  public/c9f345b7cd2d289e01df73e6ca6c86e8.txt
  scripts/__tests__/seo-provenance.test.ts
  scripts/indexnow-ping.ts
  scripts/seo-provenance.ts
  scripts/vercel-build.sh
  src/app/layout.tsx
  src/app/sitemap.ts
  vitest.config.ts
Due: frontend-lint, prettier

fix(test): repair localStorage roundtrip in jsdom under vitest 4
  vitest.config.ts
  vitest.setup.ts
Due: frontend-lint, prettier

feat(seo): expand author identity for AI agent discoverability
  src/app/layout.tsx
Due: frontend-lint, prettier

chore(harness): ignore local-only operator harness paths
  .gitignore
Due: none

fix(wasm): tighten SAB safety surface
  physics-engine/gravitas-wasm/src/lib.rs
  physics-engine/gravitas-wasm/tests/sab_bounds.rs
Due: rust-check, rust-clippy

fix(workers): call init_hooks at WASM init
  src/workers/physics.worker.ts
Due: frontend-lint, prettier

fix(physics): guard renormalize_null against negative discriminant
  physics-engine/gravitas-core/src/geodesic/mod.rs
  physics-engine/gravitas-core/src/geodesic/termination.rs
  physics-engine/gravitas-core/src/invariants/mod.rs
  physics-engine/gravitas-core/src/invariants/renormalization.rs
  physics-engine/gravitas-core/tests/normalize.rs
Due: rust-check, rust-clippy

refactor(sab): canonicalize OFFSETS in src/engine/sab-schema.ts
  src/engine/physics-bridge.ts
  src/engine/sab-schema.ts
  src/workers/physics.worker.ts
Due: frontend-lint, prettier

feat(workers): drop physics worker to 1 Hz when the tab is hidden
  src/engine/physics-bridge.ts
  src/workers/physics.worker.ts
Due: frontend-lint, prettier

fix(ui): logo not loading in HUD and ControlPanel
  next.config.mjs
  src/components/ui/ControlPanel.tsx
Due: frontend-lint, prettier

feat(physics+ui): Walker-Penrose transport, Pandya non-thermal branches, pair overlay
  physics-engine/gravitas-core/src/physics/mod.rs
  physics-engine/gravitas-core/src/physics/polarization_transport.rs
  physics-engine/gravitas-core/src/physics/synchrotron.rs
  physics-engine/gravitas-core/tests/polarization_transport.rs
  physics-engine/gravitas-core/tests/synchrotron_nonthermal.rs
  src/app/page.tsx
  src/components/quantum/HorizonPairOverlay.tsx
Due: frontend-lint, rust-check, rust-clippy, prettier

feat(render+physics): GLSL shader uniform plumbing + Pandya exact Γ amplitude
  physics-engine/gravitas-core/src/physics/synchrotron.rs
  physics-engine/gravitas-core/tests/synchrotron_nonthermal.rs
  src/components/ui/ControlPanel.tsx
  src/rendering/webgl/renderer.ts
  src/shaders/blackhole/chunks/common.ts
  src/shaders/blackhole/fragment.glsl.ts
  src/types/features.ts
  src/utils/cpu-optimizations.ts
Due: frontend-lint, rust-check, rust-clippy, prettier

fix(render): drop unused int uniform; add console-error probe script
  scripts/probe-console-errors.ts
  src/rendering/webgl/renderer.ts
  src/shaders/blackhole/chunks/common.ts
Due: frontend-lint, prettier

fix(ui): static-import quantum panels to eliminate dev ChunkLoadError
  src/app/page.tsx
  src/components/quantum/BekensteinHawkingReadout.tsx
  src/components/quantum/HawkingSpectrumPanel.tsx
Due: frontend-lint, prettier

Path conditions:
  frontend-lint: any of: *.{js,ts,tsx}
  rust-check: any of: *.rs and ^physics\-engine/
  rust-clippy: any of: *.rs and ^physics\-engine/
  prettier: any of: *.{js,ts,tsx,css,md}
