Repository steeltroops-ai/blackhole-simulation: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, rust-check, rust-clippy, prettier

lefthook.yml:

# Lefthook: Intelligent Git Hooks for Scientific Simulation
# Configured for Bun & Rust Hybrid codebase

pre-commit:
  parallel: true
  commands:
    # 1. Frontend Quality Checks
    frontend-lint:
      glob: "*.{js,ts,tsx}"
      run: bun run lint
    frontend-types:
      run: bun run type-check

    # 2. Rust Engine Quality Checks
    rust-check:
      root: physics-engine/
      glob: "*.rs"
      run: cargo check
    rust-clippy:
      root: physics-engine/
      glob: "*.rs"
      run: cargo clippy

    # 3. Security & Format
    prettier:
      glob: "*.{js,ts,tsx,css,md}"
      run: bunx prettier --check {staged_files}

commit-msg:
  commands:
    # 4. Enforce Conventional Commits
    lint-commit:
      run: bun scripts/lint-commit.ts {1}

pre-push:
  commands:
    # 5. Heavy Industry Testing
    run-tests:
      run: bun run test

ci: fix vercel build and align pipeline
  .eslintrc.json
  .github/workflows/production.yml
  .gitignore
  README.md
  lefthook.yml
  next.config.mjs
  package.json
  physics-engine/README_BUILD_ERRORS.md
  physics-engine/src/constants.rs
  physics-engine/src/derivatives.rs
  physics-engine/src/integrator.rs
  physics-engine/src/invariants.rs
  physics-engine/src/lib.rs
  physics-engine/src/tiling.rs
  public/test.css
  scripts/lint-commit.ts
  src/__tests__/performance/benchmark.test.ts
  src/__tests__/rendering/adaptive-resolution.test.ts
  src/__tests__/utils/device-detection.test.ts
  src/app/error.tsx
Due: frontend-lint, rust-check, rust-clippy, prettier

ci: fix linting and unit test suite for production pipeline
  .eslintrc.json
  .github/workflows/production.yml
  bun.lock
  eslint.config.mjs
  package.json
  scripts/vercel-build.sh
  src/__tests__/hooks/usePhysicsState.test.ts
  src/__tests__/types/features.test.ts
  src/app/global-error.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/canvas/WebGPUCanvas.tsx
  src/components/debug/ErrorDisplay.tsx
  src/components/ui/ControlPanel.tsx
  src/components/ui/DebugOverlay.tsx
  src/components/ui/IdentityHUD.tsx
  src/components/ui/SimulationInfo.tsx
  src/configs/simulation.config.ts
  src/engine/physics-bridge.ts
  src/hooks/useAnimation.ts
  src/hooks/usePhysicsState.ts
  src/hooks/useWebGL.ts
  src/performance/README.md
  src/performance/gpu-timer.ts
  src/physics/kerr-metric.ts
  src/rendering/adaptive-resolution.ts
  src/rendering/bloom.ts
  src/rendering/webgpu/renderer.ts
  src/shaders/blackhole/fragment.glsl.ts
  src/shaders/blackhole/raymarching.wgsl.ts
  src/types/webgpu.ts
  src/utils/validation.ts
  src/utils/webgl-utils.ts
  tsconfig.json
  vercel.json
  vitest.config.ts
Due: frontend-lint, prettier

ci: optimize deployment pipeline and ensure physics engine initialization
  .github/workflows/production.yml
  src/app/page.tsx
  src/engine/physics-bridge.ts
Due: frontend-lint, prettier

fix: resolve ReferenceError: navigator is not defined during SSR
  src/storage/settings.ts
  src/utils/device-detection.ts
Due: frontend-lint, prettier

feat: implement high-precision camera sync, anti-tearing guards, and PID-stabilized FPS scaling
  .eslintrc.json
  next.config.mjs
  physics-engine/src/camera.rs
  physics-engine/src/lib.rs
  src/app/page.tsx
  src/components/ui/BenchmarkResults.tsx
  src/components/ui/ControlPanel.tsx
  src/configs/performance.config.ts
  src/engine/physics-bridge.ts
  src/hooks/useAnimation.ts
  src/hooks/useBenchmark.ts
  src/performance/benchmark.ts
  src/performance/gpu-timer.ts
  src/performance/monitor.ts
  src/rendering/bloom.ts
  src/rendering/reprojection.ts
  src/rendering/resource-pool.ts
  src/shaders/blackhole/chunks/common.ts
  src/shaders/blackhole/fragment.glsl.ts
  src/shaders/postprocess/bloom.glsl.ts
  src/shaders/postprocess/reprojection.glsl.ts
  src/utils/cpu-optimizations.ts
  src/utils/webgl-utils.ts
  src/workers/physics.worker.ts
Due: frontend-lint, rust-check, rust-clippy, prettier

perf: refine performance monitoring and hardware-aware optimizations
  src/__tests__/integration/adaptive-systems.test.ts
  src/__tests__/integration/feature-performance-impact.test.ts
  src/__tests__/performance/benchmark.test.ts
  src/__tests__/performance/gpu-timer.test.ts
  src/__tests__/performance/monitor.test.ts
  src/__tests__/utils/cpu-optimizations.test.ts
  src/configs/performance.config.ts
  src/performance/monitor.ts
  src/utils/cpu-optimizations.ts
Due: frontend-lint, prettier

feat(cinematic): finalize experience with dynamic orbit and bug fixes
  src/app/page.tsx
  src/components/ui/CinematicOverlay.tsx
  src/components/ui/ControlPanel.tsx
  src/components/ui/IdentityHUD.tsx
  src/configs/simulation.config.ts
  src/hooks/useCamera.ts
  src/types/simulation.ts
Due: frontend-lint, prettier

docs(license): update to Personal & Community License
  LICENSE
  README.md
Due: prettier

docs: sync architecture, physics, and performance specs with kernel v5.3
  .github/workflows/production.yml
  docs/ARCHITECTURE.md
  docs/PERFORMANCE.md
  docs/PHYSICS.md
  physics-engine/README.md
Due: prettier

feat(physics): decouple kernel into metric, matter, and quantum modules
  physics-engine/README_BUILD_ERRORS.md
  physics-engine/src/constants.rs
  physics-engine/src/lib.rs
  physics-engine/src/matter.rs
  physics-engine/src/metric.rs
  physics-engine/src/quantum.rs
Due: rust-check, rust-clippy, prettier

fix(rendering): implement Phase 5.3 numerical stability guards
  src/shaders/blackhole/chunks/blackbody.ts
  src/shaders/blackhole/chunks/common.ts
  src/shaders/blackhole/chunks/disk.ts
  src/shaders/blackhole/fragment.glsl.ts
  src/shaders/postprocess/reprojection.glsl.ts
Due: frontend-lint, prettier

docs: comprehensive update of system architecture and physics specifications
  README.md
  docs/ARCHITECTURE.md
  docs/PHYSICS.md
  public/wasm/README.md
  src/engine/physics-bridge.ts
Due: frontend-lint, prettier

fix(physics): Phase 5.3 Numerical Stability - NaN Shield & Hamiltonian Regularization
  src/shaders/blackhole/chunks/disk.ts
  src/shaders/blackhole/fragment.glsl.ts
  src/shaders/postprocess/reprojection.glsl.ts
Due: frontend-lint, prettier

feat(physics): Phase 5.2 Camera & Worker Synchronization - EKF, Auto-Spin & SAB Bridge
  physics-engine/src/camera.rs
  physics-engine/src/lib.rs
  src/engine/physics-bridge.ts
  src/hooks/useAnimation.ts
  src/hooks/useCamera.ts
  src/workers/physics.worker.ts
Due: frontend-lint, rust-check, rust-clippy, prettier

feat(physics): Phase 5.1 Relativistic Spectral Rendering - 2D (T x z) LUT
  physics-engine/src/spectrum.rs
  src/rendering/spectral.ts
Due: frontend-lint, rust-check, rust-clippy, prettier

feat(physics): Phase 3.2 NRS Training Engine & Compute Shaders
  physics-engine/src/training.rs
  src/shaders/compute/mlp.wgsl
Due: rust-check, rust-clippy

chore(physics): disable wasm-opt for windows stability
  physics-engine/Cargo.toml
Due: none

fix(core): comprehensive stability fixes and performance optimizations
  docs/ARCHITECTURE.md
  docs/PERFORMANCE.md
  next.config.mjs
  package.json
  src/app/error.tsx
  src/app/global-error.tsx
  src/app/google71f68cb94e351e26.html
  src/app/icon.png
  src/app/layout.tsx
  src/app/manifest.ts
  src/app/opengraph-image.png
  src/app/page.tsx
  src/app/twitter-image.png
  src/components/canvas/WebGLCanvas.tsx
  src/components/canvas/WebGPUCanvas.tsx
  src/components/debug/ErrorBoundary.tsx
  src/components/debug/ErrorDisplay.tsx
  src/components/ui/BenchmarkResults.tsx
  src/components/ui/ControlPanel.tsx
  src/engine/physics-bridge.ts
  src/hooks/useAnimation.ts
  src/hooks/useCamera.ts
  src/hooks/useScreenshot.ts
  src/hooks/useWebGL.ts
  src/performance/gpu-timer.ts
  src/rendering/bloom.ts
  src/rendering/reprojection.ts
  src/rendering/resource-pool.ts
  src/rendering/spectral.ts
  src/rendering/webgpu/renderer.ts
  src/shaders/blackhole/chunks/blackbody.ts
  src/shaders/compute.wgsl.ts
  src/shaders/types.wgsl.ts
  src/storage/settings.ts
  src/utils/cpu-optimizations.ts
  src/utils/device-detection.ts
  src/utils/errorTracking.ts
  src/utils/validation.ts
  src/utils/webgl-utils.ts
  src/workers/physics.worker.ts
Due: frontend-lint, prettier

fix(storage): clear corrupted localStorage entries to prevent persistent SyntaxErrors
  src/storage/settings.ts
Due: frontend-lint, prettier

feat(ui): improve text contrast and accessibility in control panels
  src/components/ui/BenchmarkResults.tsx
  src/components/ui/IdentityHUD.tsx
  src/components/ui/SimulationInfo.tsx
  src/components/ui/Telemetry.tsx
Due: frontend-lint, prettier

feat(physics): enhance kernel with exact analytic solutions and thread-safe bridge
  physics-engine/src/lib.rs
  src/__tests__/hooks/usePresets.test.ts
  src/__tests__/integration/feature-performance-impact.test.ts
  src/engine/physics-bridge.ts
  src/hooks/usePhysicsState.ts
  src/types/simulation.ts
  src/workers/physics.worker.ts
Due: frontend-lint, rust-check, rust-clippy, prettier

feat(render): implement linear HDR pipeline with ACES tone mapping
  src/rendering/webgl/renderer.ts
  src/shaders/blackhole/chunks/blackbody.ts
  src/shaders/blackhole/fragment.glsl.ts
  src/shaders/manager.ts
  src/shaders/postprocess/bloom.glsl.ts
  src/shaders/postprocess/reprojection.glsl.ts
Due: frontend-lint, prettier

feat(physics): refine scientific fidelity and accretion dynamics configuration
  src/configs/physics.config.ts
  src/configs/simulation.config.ts
  src/shaders/blackhole/chunks/disk.ts
Due: frontend-lint, prettier

fix(physics): improve bridge fallbacks and fix usePhysicsState tests
  src/engine/physics-bridge.ts
Due: frontend-lint, prettier

fix(physics): synchronize rust kernel modules and fix CI build error
  physics-engine/src/audit.rs
  physics-engine/src/camera.rs
  physics-engine/src/constants.rs
  physics-engine/src/geodesic.rs
  physics-engine/src/integrator.rs
  physics-engine/src/invariants.rs
  physics-engine/src/kerr.rs
  physics-engine/src/matter.rs
  physics-engine/src/metric.rs
  physics-engine/src/quantum.rs
  physics-engine/src/spectrum.rs
  physics-engine/src/structs.rs
  physics-engine/src/tiling.rs
  physics-engine/src/training.rs
Due: rust-check, rust-clippy

feat(webgpu): implement ingoing kerr metric and rk4 integrator in compute shader
  src/components/canvas/WebGPUCanvas.tsx
  src/rendering/webgpu/renderer.ts
  src/shaders/compute.wgsl.ts
  src/shaders/postprocess/ataa.wgsl.ts
  src/shaders/types.wgsl.ts
  src/types/webgpu.ts
Due: frontend-lint, prettier

chore: major simulation refinements and core engine synchronization
  src/app/globals.css
  src/components/canvas/WebGLCanvas.tsx
  src/components/ui/ControlPanel.tsx
  src/rendering/bloom.ts
  src/shaders/blackhole/chunks/common.ts
  src/shaders/blackhole/chunks/metric.ts
  src/utils/cpu-optimizations.ts
Due: frontend-lint, prettier

feat: implement premium minimalist Compatibility HUD with auto-jump for in-app browsers
  src/app/globals.css
  src/app/page.tsx
  src/components/ui/CompatibilityHUD.tsx
  src/hooks/useHardwareSupport.ts
Due: frontend-lint, prettier

style: run prettier, cargo fmt and fix all linting issues
  physics-engine/src/audit.rs
  physics-engine/src/camera.rs
  physics-engine/src/constants.rs
  physics-engine/src/derivatives.rs
  physics-engine/src/geodesic.rs
  physics-engine/src/integrator.rs
  physics-engine/src/invariants.rs
  physics-engine/src/kerr.rs
  physics-engine/src/lib.rs
  physics-engine/src/matter.rs
  physics-engine/src/metric.rs
  physics-engine/src/quantum.rs
  physics-engine/src/spectrum.rs
  physics-engine/src/structs.rs
  physics-engine/src/tiling.rs
  physics-engine/src/training.rs
  src/app/blackhole.jpg
  src/app/blackhole.webp
  src/app/globals.css
  src/app/layout.tsx
  src/app/opengraph-image.png
  src/app/opengraph-image.webp
  src/app/page.tsx
  src/app/twitter-image.png
  src/app/twitter-image.webp
  src/components/canvas/WebGLCanvas.tsx
  src/components/ui/CompatibilityHUD.tsx
  src/components/ui/SimulationInfo.tsx
  src/engine/physics-bridge.ts
  src/rendering/webgl/renderer.ts
  src/shaders/manager.ts
Due: frontend-lint, rust-check, rust-clippy, prettier

feat(ui): overhaul UI with frosted glass, mobile fixes, and social metadata
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/ui/CompatibilityHUD.tsx
  src/components/ui/ControlPanel.tsx
  src/components/ui/SimulationInfo.tsx
  src/hooks/useHardwareSupport.ts
Due: frontend-lint, prettier

fix(ui): ensure scientific specs panel is fully responsive on mobile
  src/components/ui/SimulationInfo.tsx
Due: frontend-lint, prettier

fix(ui): refine control panel layout and simulation info responsiveness
  src/app/layout.tsx
  src/components/ui/ControlPanel.tsx
  src/components/ui/SimulationInfo.tsx
Due: frontend-lint, prettier

feat(simulation): overhaul cinematic system and fix critical simulation bugs
  src/hooks/useCamera.ts
Due: frontend-lint, prettier

perf: Phase 1+2 GPU/CPU/worker optimizations (~40-60% FPS gain expected)
  docs/PERFORMANCE_ANALYSIS.md
  src/hooks/useAnimation.ts
  src/shaders/blackhole/chunks/disk.ts
  src/shaders/blackhole/fragment.glsl.ts
  src/utils/cpu-optimizations.ts
  src/workers/physics.worker.ts
Due: frontend-lint, prettier

perf(optimization): major performance engine overhaul
  docs/PERFORMANCE_ANALYSIS.md
  src/configs/performance.config.ts
  src/engine/physics-bridge.ts
  src/hooks/useAnimation.ts
  src/performance/monitor.ts
  src/rendering/bloom.ts
  src/rendering/reprojection.ts
  src/shaders/blackhole/chunks/disk.ts
  src/shaders/blackhole/chunks/noise.ts
  src/shaders/blackhole/fragment.glsl.ts
  src/utils/cpu-optimizations.ts
Due: frontend-lint, prettier

test: update monitor tests for 90-frame window
  src/__tests__/performance/monitor.test.ts
Due: frontend-lint, prettier

test: update performance integration tests for 90-frame window
  src/__tests__/integration/feature-performance-impact.test.ts
Due: frontend-lint, prettier

feat(physics): implement symplectic integrator and grrt; fix(seo): update opengraph images
  physics-engine/src/geodesic.rs
  src/app/layout.tsx
  src/app/opengraph-image.jpg
  src/app/twitter-image.jpg
  src/shaders/compute.wgsl.ts
Due: frontend-lint, rust-check, rust-clippy, prettier

chore(physics): suppress compiler warnings in rust engine
  physics-engine/src/lib.rs
Due: rust-check, rust-clippy
